<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>god is girl</string>
		<string>yesterday once more</string>
		<string>i see you</string>
		<string>right here wait for you</string>
	</array>
	<array>
		<string>仰望星空</string>
		<string>明年今日</string>
		<string>真的爱你</string>
	</array>
	<array>
		<string>天空之城</string>
		<string>夜的进行曲</string>
		<string>卡门</string>
		<string>故宫的记忆</string>
		<string>献给爱丽丝</string>
	</array>
</array>
</plist>
