<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>China</string>
		<key>icon</key>
		<string>China.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Germany</string>
		<key>icon</key>
		<string>Germany.gif</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Korean</string>
		<key>icon</key>
		<string>Korean.gif</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Brazil</string>
		<key>icon</key>
		<string>Brazil.gif</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Italy</string>
		<key>icon</key>
		<string>Italy.gif</string>
	</dict>
</array>
</plist>
