<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>WeiLong.mp3</string>
		<key>filename</key>
		<string>WeiLong.mp3</string>
		<key>lrcname</key>
		<string>WeiLong.lrc</string>
		<key>singer</key>
		<string>河图</string>
		<key>singerIcon</key>
		<string>WeiLong.jpg</string>
		<key>icon</key>
		<string>WeiLong.jpg</string>
	</dict>
</array>
</plist>
